.pnf-container {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 90vh;
  z-index: 2;
}
.pnf-container h1 {
  font-size: 90px;
  font-weight: 500;
  margin-bottom: -5px;
  color: rgba(58, 53, 65, 0.87);
}
.pnf-container h5 {
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 10px;
  color: rgba(58, 53, 65, 0.87);
}
.pnf-container h4 {
  font-size: 16px;
  text-align: center;
}
.pnf-container img.banner {
  width: 700px;
  margin-top: 40px;
}
.mask-pnf,
.tree1Imgs {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -1;
}
.tree1Imgs {
  width: 300px;
  z-index: 1;
  right: 0;
  left: auto;
  bottom: 60px;
}
